@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200;300;400;500;600;700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');


@font-face {
  font-family: 'Cloud Soft';
  src: url('https://github.com/Mikku44/choomcham-next-ts/blob/master/src/app/fonts/cloudsoft/Cloud-Soft-Bold.ttf');
  font-weight: 700;
  weight: '700';

}

@font-face {
  font-family: 'Cloud Soft';
  src: url('https://github.com/Mikku44/choomcham-next-ts/blob/master/src/app/fonts/CloudSoft/Cloud-Soft-Light.ttf');
  font-weight: 400;
  weight: '400';
}

section {
  overflow: hidden;
  width: 100%;
}

:root {
  --white: #ffffff;
  --grey: #333333;
  --yellow: #f2c762;
  --pink: #d33666;
  --pink-50: #d33665d9;
  --green: #17a78a;
  --dark-blue: #3c4297;
  --light-blue: #e7eef0;
  --sky-blue: #028eca;
  --font-size-s: 15px;
  --font-size-m: 17px;
  --font-size-l: 20px;
  --font-size-xs: 13px;
  --font-size-xl: 25px;
  --font-size-xxs: 11px;
  --font-size-xxl: 40px;
  --wave: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"/></svg>');
}



h1 {

  font-family: 'Cloud Soft', 'Prompt';

}

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}


:root {
  --activedcolor: #D33666;
  /* --activedcolor:linear-gradient(90deg, rgba(34,193,195,1) 0%, rgb(253, 187, 45) 100%);
  --activedcolorfade:linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253, 187, 45, 0.716) 100%); */
  font-family: 'Cloud Soft', Inter;
  line-height: 1.5;
  font-weight: normal;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


#sidebar a.active {
  color: rgb(255, 255, 255);
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.thai {
  line-height: 1.5;
}

.bg-radial {
  background: radial-gradient(102.99% 19.58% at 875.44% 15.12%, rgba(23, 167, 138, 0) 0%, #08372E 100%);
}

.bg-primary {
  background: var(--activedcolor);
}

.bg-primary-fade {
  background: var(--activedcolorfade);
}

.actived {
  background: var(--activedcolor);
  color: white;
  border-color: var(--activedcolor);
}

.skewed-background {
  /* height: 100vh; */
  /* background: linear-gradient(110deg, #e0c3fc 0%, #8ec5fc 100%); */
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); /* Use clip-path to create a skewed shape */
  /* padding: 50px; */
  /* color: #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mark {

  overflow: hidden;
  /* width: 100%; */
  /* mask-image: url(/masker.svg);
  mask-repeat: no-repeat;
  mask-size: 125rem; */
  /* border-radius: 100%; */
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.text-md{
  font-size: 1rem;
}

.wave {
  /* background-color: #000000; */
  opacity: 1;
  background-image: radial-gradient(#5897da 2px, transparent 2px), radial-gradient(#5897da 2px, #00000000 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

.bg-standard {
  background-image: url("/images/bg.png")
}


.line {
  /* position:absolute;
  right:0;
  top:0; */

  height: 80vh;
  /* width: 100vw; */
  background: url("/images/homepage_image.jpg");
  background-color: var(--activedcolor);
  /* background-color: black; */
  
  background-size: cover;
  background-repeat: no-repeat;
}

.line-service {
  /* position:absolute;
  right:0;
  top:0; */

  height: 100vh;
  background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(22, 221, 128, 0.873)), url("https://blog.choomcham.com/wp-content/uploads/2023/01/285933007_755002819248039_7005441046324586670_n.jpg");
  background-color: var(--activedcolor);
  background-size: contain;
}

.background-blue {
  background: url("/images/background.png");
  /* height: 70vh; */
  background-size: cover;
  background-repeat: no-repeat;
}


.bg-1 {
  background: url("/images/background1.svg");
  background-size: cover;
}
.bg-2 {
  background: url("/images/bg2.png");
  background-size: cover;
}

.work {
  background: url("/images/cover23.png");
  background-size: cover;
}

.btn-active {
  background: rgb(236 72 153);
  padding: 0 30px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: aliceblue;
}

.swiper-pagination-bullet-active {
  background: var(--green) !important;
  padding-left: 20px;
  border-radius: 100px !important;
  transition: all 0.4s ease-in-out;
}
.swiper-slide > *{
  background-color: blue;
  display: flex !important;
  justify-content: center;
  align-items: center;
}


.blob-yellow {
  /* width: 100%;
  height: 100%; */
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M826.5 639Q660 778 471.5 827t-265-139Q130 500 191 285T494 80.5q242 10.5 370.5 215t-38 343.5Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23f2c762%22 d=%22M826.5 639Q660 778 471.5 827t-265-139Q130 500 191 285T494 80.5q242 10.5 370.5 215t-38 343.5Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.blob-green {
  /* width: 100%;
  height: 100%; */
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M832 646q-99 146-270.5 241.5t-288.5-63Q156 666 144 494.5T266.5 194Q401 65 600 95t265 217.5Q931 500 832 646Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%2317a78a%22 d=%22M832 646q-99 146-270.5 241.5t-288.5-63Q156 666 144 494.5T266.5 194Q401 65 600 95t265 217.5Q931 500 832 646Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}




.blob-pink {
  /* width: 100%;
  height: 100%; */
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M889 612q-81 112-189 141.5T520 722q-72-61-231-7t-185-80.5Q78 500 190 428t156-168.5q44-96.5 138-48t197.5 65q103.5 16.5 196 120T889 612Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23d33666%22 d=%22M889 612q-81 112-189 141.5T520 722q-72-61-231-7t-185-80.5Q78 500 190 428t156-168.5q44-96.5 138-48t197.5 65q103.5 16.5 196 120T889 612Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.colored-icon {
  filter: invert(36%) sepia(84%) saturate(2872%) hue-rotate(121deg) brightness(96%) contrast(101%);
}


.bg-zinc-switch > *:nth-child(odd) {
  background-color: #f3f4f6; /* Light Zinc-like color for odd elements */
}

.bg-zinc-switch > *:nth-child(odd) .name{
    color:var(--dark-blue);

}
.bg-zinc-switch > *:nth-child(even) {
  background-color: var(--dark-blue); 
  color:white ;
  /* background-color: rgb(236, 235, 235); 
  color: white; /* Ensure text is readable on darker background */
}
.bg-zinc-switch > *:nth-child(even) .name{
    color:var(--green);

}

.flex-col-reverse-switch:nth-child(odd) {
  @apply flex-col; /* Use Tailwind's flex-col for odd elements */
}

.flex-col-reverse-switch:nth-child(even) {
  @apply flex-col-reverse; /* Use Tailwind's flex-col-reverse for even elements */
}



@media screen and (max-width: 986px) {
  .mark {
    mask-size: 125rem;
  }

  .line {
    /* background-size: inherit; */
    height: 50vh;
    background-repeat: repeat-x;
    background-position-x: calc(30px - 5vw);
  }

 

 

  small {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 720px) {
  

  .line {
    /* background-size: inherit; */
    height: 50vh;
    background-repeat: repeat-x;
    background-position-x: calc(30px + 20vw);
  }
}
@media screen and (max-width: 395px) {
  small {
    font-size: 4vw;
  }

  .line {
    /* background-size: inherit; */
    height: 50vh;
    background-repeat: repeat-x;
    background-position-x: calc(30px + 10vw);
  }
}